:root {
    font-size: 16px; /* 1rem = 16px */
}

body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #EAEAEA;
    overflow-x: hidden;
}
.nav-toggle, .toggle-btn, .close-btn{
    display: none;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
    background-color: #ffffff;
    opacity: 80%;
    padding: 0.625rem 1.25rem; /* 10px 20px */
    color: rgb(0, 0, 0);
    z-index: 1000;
}
.logo{
    padding-left: 3rem;
}
.logo img {
    height: 2.5rem; /* 40px */
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar li {
    margin: 0 0.9375rem; /* 15px */
}

.navbar a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-weight: bold;
    font-size: 1rem; /* 16px */
}

.header-right {
    display: flex;
    align-items: center;
}

.header-right .icon {
    color: rgb(0, 0, 0);
    font-size: 1.25rem; /* 20px */
    margin-left: 1.25rem; /* 20px */
    text-decoration: none;
    padding-right: 1rem;
}

.header-right .divider {
    width: 0.0625rem; /* 1px */
    height: 1.5625rem; /* 25px */
    background-color: rgb(0, 0, 0);
    margin: 0 0.625rem; /* 10px */
}

.header-right .translate {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 1rem; /* 16px */
    padding-left: 1rem;
    padding-right: 3rem;
}
.select-language{
    cursor: pointer;
    display: flex;
    justify-content: space-between;
}

.select-language:before{
    content: '';
    display: block;
    width: 32px;
    height: 32px;
    background-image: url("https://flagsapi.com/US/flat/32.png");
    margin-top: 19%;
    margin-right: .5rem;
}
.about-us {
    position: relative;
    width: 100%;
    background-image: url('../images/aboutimg.jpg');
    background-size: cover;
    background-position: center;
    height: 80vh;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent overlay */
    display: flex;
    /* justify-content: center; */
    align-items: center;
}

.overlay h1 {
    padding-top: 10%;
    margin-left: 2%;
    color: white;
    font-size: 4em;
    font-family: 'Poppins';
    font-style: normal;
    /* font-family: 'Arial', sans-serif; */
    font-weight: 700;
    text-align: left;
    
}
.company-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    max-width: 1200px;
    margin: 5% auto;
    background-color: transparent;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
}
.company-content {
    display: flex;
    width: 100%;
    text-align: left;
    padding: 20px;
}

.title {
    font-size: 3rem;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}
.left_side{
    width: 25%;
    padding-top: 8%;
}
.right_side{
    padding-left: 8%;
    width: 60%;
    font-size: 1.2rem;
    line-height: 2rem;
}
.inline-logo {
    
    padding-left: 10%;
    width: 30%;
    height: auto;
}
.about h3{
    text-align: center;
    padding-top: 8%;
    font-size: 2rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.content-section {
    max-width: 1200px;
    margin: 5% auto;
    padding: 20px;
    background-color: transparent;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.intro {
    display: flex;    
    margin-bottom: 50px;
}

.intro .pic1 .logo {
    width: 30vh;
    height: auto;
    padding-top: 30%;
    /* margin-bottom: 20px; */
}
.intro p {
    padding-left: 5%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3rem;
    color: #333;
}

.card-container {
    display: flex;
    justify-content: space-between;
    background-color: #1c1c1c;
    padding: 5%;
}

.card1 {
    flex: 1;
    height: 75vh;
    background-color: #e74c3c;
    color: #fff;
    margin: 0 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s;
}
.card2 {
    flex: 1;
    height: 75vh;
    background-color: #2980b9;
    color: #fff;
    margin: 0 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s;
}
.card3 {
    flex: 1;
    height: 75vh;
    background-color: #f39c12;
    color: #fff;
    margin: 0 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s;
}

.card1:hover {
    transform: translateY(-10px);
}
.card2:hover {
    transform: translateY(-10px);
}
.card3:hover {
    transform: translateY(-10px);
}
.card-header {
    padding: 20px;
    text-align: center;
}

.card-header.vision {
    background-color: #e74c3c;
}

.card-header.mission {
    background-color: #2980b9;
}

.card-header.values {
    background-color: #f39c12;
}

.card-body {
    padding: 20px;
    margin-left: 2%;
    color: #333;
    height: 100hv;
    width: 86%;
    background-color: #fff;
    border-radius: 10px 10px 10px 10px;
}

.card-body p {
    height: 50vh;
    margin: 0;
    font-size: 1.2rem;
    line-height: 1.8rem;
}


.footer {
    background-color: #1c1c1c;
    color: #ffffff;
    padding: 20px 0;
    text-align: left;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    padding: 0 40px;
}

.footer-left {
    max-width: 40%;
}

.footer-left p {
    padding: 0 0 20px;
    padding-right: 15%;
    font-size: 1.3rem;

}

.footer-left img {
    max-width: 100%;
    display: block;
    padding-bottom: 5%;
}

.footer-right {
    display: flex;
    justify-content: space-between;
    width: 60%;
    padding-top: 2%;
    padding-left: 5%;
    padding-right: 5%;
}

.footer-column {
    display: flex;
    flex-direction: column;
}
.footer-column a h3{
    font-size: 1.2rem;
}

.footer-column a {
    text-decoration: none;
    color: #ffffff;
}

.footer-column a:hover h3 {
    text-decoration: underline;
}

.footer-column h3 {
    margin: 0 0 10px;
    font-size: 16px;
    font-weight: normal;
}

.footer-bottom {
    text-align: center;
    padding: 10px 0;
    border-top: 1px solid #333;
    margin-top: 20px;
}

.footer-bottom p {
    margin: 0;
    font-size: 14px;
}
@media (max-width: 351px) {
    header {
        flex-direction: column;
        padding: 0.625rem;
    }

    .logo {
        padding-left: 0;
        margin-bottom: 0.625rem;
        
    }

    .navbar {
        display: none;
        width: 100%;
        text-align: center;
        padding-left: 65%;
        padding-bottom: 5%;
        padding-top: 5%;
    }

    .navbar ul {
        flex-direction: column;
        align-items: center;
        padding-bottom: 10%;
    }

    .navbar li {
        width: 100%;
        margin: 0.5rem 0;
        padding-left: 20%;
        padding-top: 20%;
    }

    .header-right {
        display: none;
    }
    .select-language:before{
        margin-top: 19%;
        margin-right: .5rem;
    }

    /* Show navbar and header-right when toggle button is checked */
    .nav-toggle:checked ~ nav.navbar,
    .nav-toggle:checked ~ .header-right {
        display: flex;
    }

    /* Toggle button styles */
    .toggle-btn {
        display: block;
        font-size: 1.5rem;
        cursor: pointer;
        position: absolute;
        top: 0.625rem;
        right: 1rem;
    }

    /* Close button styles */
    .close-btn {
        display: block;
        font-size: 1.5rem;
        cursor: pointer;
        position: absolute;
        top: 0.625rem;
        right: 1rem;
    }
    .nav-toggle {
        display: none;
    }
    /* Adjust logo size */
    .logo img {
        width: 100%;
        
    }
    .about-us {
        position: relative;
        width: 100%;
        background-image: url('../images/aboutimg.jpg');
        background-size: cover;
        background-position: center;
        height: 40vh;
    }
    .overlay h1 {
        padding-top: 25%;
        margin-left: 5%;
        color: white;
        font-size: 2rem;
        font-family: 'Poppins';
        font-style: normal;
        /* font-family: 'Arial', sans-serif; */
        font-weight: 700;
        text-align: left;
        
    }
    .company-section {
        display: block;
        justify-content: center;
        align-items: center;
        height: 50vh;
        max-width: 1200px;
        margin: 5% auto;
        background-color: transparent;
        border-radius: 10px;
        box-shadow: 0 0px 0px rgba(0, 0, 0, 0.1);
        padding: 20px;
    }
    .company-content {
        display: block;
        width: 100%;
        text-align: left;
        padding: 20px;
    }
    .left_side{
        width: 100%;
        padding-top: 0%;
    }
    .left_side img{
        /* display: none; */
        width: 10%;
    }
    .title {
        font-size: 2rem;
        margin-bottom: 20px;
        display: block;
        align-items: center;
    }
    .right_side{
        padding-left: 0%;
        width: 100%;
        font-size: 1.2rem;
        line-height: 2rem;
    }
    .right_side p{
        padding-left: 0;
        padding-right: 5%;
    }
    .inline-logo {
        padding-left: 5%;
        /* display: none; */
        height: auto;
    }
    .about h3{
        text-align: center;
        padding-top: 8%;
        font-size: 2rem;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
    .content-section {

        box-shadow: 0 0px 0px rgba(0, 0, 0, 0.1);
    }
    
    .intro {
        display: block;    
        margin-bottom: 0px;
    }
    .pic1 img{
        padding-left: 35%;
    }
    .intro .pic1 .logo {
        width: 10vh;
        height: auto;
        padding-top: 45rem;
    }
    .intro p {
        padding-left: 0%;
        font-size: 1.2rem;
        line-height: 2rem;
        padding-right: 0%;
        text-align: center;
    }
    .card-container {
        display: block;
        justify-content: center;
    }
    
    .card1 {
        flex: 0;
        height: 65vh;
        margin-bottom: 5%;
    }
    .card2 {
        flex: 0;
        height: 65vh;
        margin-bottom: 5%;
    }
    .card3 {
        flex: 0;
        height: 65vh;
        margin-bottom: 5%;
    }
    
    .card-body {
        padding: 20px;
        margin-left: 2%;
        height: 15hv;
        width: 82%;

    }
    
    .card-body p {
        height: 40vh;
        margin: 0;
        font-size: 1rem;
        line-height: 1.5rem;
    }
    .footer-container {
        display: block;
    }
    
    .footer-left {
        max-width: 100%;
    }
    
    .footer-left p {
        padding: 0 0 20px;
        padding-right: 0%;
    }
    
    .footer-right {
        display: block;
        width: 100%;
        text-align: center;
        padding-top: 5%;
        padding-left: 0%;
        padding-right: 5%;
    }
    .footer-column a h3 {
        padding-top: 3%;
    }
}