:root {
    font-size: 16px; /* 1rem = 16px */
}

body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #EAEAEA;
    overflow-x: hidden;
}
.nav-toggle, .toggle-btn, .close-btn{
    display: none;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
    background-color: #ffffff;
    opacity: 80%;
    padding: 0.625rem 1.25rem; /* 10px 20px */
    color: rgb(0, 0, 0);
    z-index: 1000;
}
.logo{
    padding-left: 3rem;
}
.logo img {
    height: 2.5rem; /* 40px */
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar li {
    margin: 0 0.9375rem; /* 15px */
}

.navbar a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-weight: bold;
    font-size: 1rem; /* 16px */
}

.header-right {
    display: flex;
    align-items: center;
}

.header-right .icon {
    color: rgb(0, 0, 0);
    font-size: 1.25rem; /* 20px */
    margin-left: 1.25rem; /* 20px */
    text-decoration: none;
    padding-right: 1rem;
}

.header-right .divider {
    width: 0.0625rem; /* 1px */
    height: 1.5625rem; /* 25px */
    background-color: rgb(0, 0, 0);
    margin: 0 0.625rem; /* 10px */
}

.header-right .translate {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 1rem; /* 16px */
    padding-left: 1rem;
    padding-right: 3rem;
}
.select-language{
    cursor: pointer;
    display: flex;
    justify-content: space-between;
}

.select-language:before{
    content: '';
    display: block;
    width: 32px;
    height: 32px;
    background-image: url("https://flagsapi.com/US/flat/32.png");
    margin-top: 19%;
    margin-right: .5rem;
}
.about-us {
    margin-top: 4.7%;
    position: relative;
    width: 100%;
    height: 80vh;
    background-image: url('../images/contactimg.jpg');
    background-size: cover;
    background-position: center;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent overlay */
    display: flex;
    /* justify-content: center; */
    align-items: center;
}

.overlay h1 {
    padding-top: 10%;
    margin-left: 2%;
    color: white;
    font-size: 4em;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    text-align: left;
    
}

.contactsec h1{
    text-align: center;
    font-size: 2rem;
}
.line4{
    align-items: center;
    flex-grow: 1;
    height: 0.10rem;
    width: 20%;
    background-color: #777171;
    margin-bottom: 5%;
    margin-left: 40%;
    margin-top: -1%;
}
.form-section {
    background-color: #ecf0f1;
    color: #000000;
    padding: 50px;
}
.contact-info {
    margin-bottom: 20px;
}

.contact-info p {
    margin: 10px 0;
    padding-left: 5%;
    padding-right: 5%;
}

.contact-info i {
    margin-right: 10px;
}

.contact-info a {
    color: #000000;
    text-decoration: none;
}

.contact-info a:hover {
    text-decoration: underline;
}

.social-follow {
    margin-bottom: 20px;
}

.social-follow p {
    margin-bottom: 10px;
}

.social-follow a:hover {
    color: #ecf0f1;
}
.contact_content {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.left{
    width: 55%;
    text-align: center;
}
.right{
    width: 40%;
    text-align: center;
    padding-top: 2%;
}
.left h2, .right h2 {
    color: #2c3e50;
    font-size: 20px;
    margin-bottom: 20px;
}

.career-btn {
    background-color: #ffffff;
    color: #2c3e50;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px;
}

form {
    background-color: #ecf0f1;
    padding: 20px;
    border-radius: 5px;
}

form h3 {
    font-size: 18px;
    margin-bottom: 20px;
    color: #2c3e50;
}

form input, form textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

form button {
    background-color: #2c3e50;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}
.contact_content{
    height: 20%;
    background-color: #ecf0f1;
    border-radius: 1%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: #000;
}
.right h2{
    color: #2c3e50;
}

.social-icons {
    
    align-items: center;
    padding-bottom: 10%;
    padding-top: 10%;
    padding-left: 5%;
    display: flex;
    flex-wrap: wrap;
}

.social-icons a {
    text-decoration: none;
    font-size: 3rem;
    margin: 1.5rem;
    color: #000000;
}


.footer {
    background-color: #1c1c1c;
    color: #ffffff;
    padding: 20px 0;
    text-align: left;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    padding: 0 40px;
}

.footer-left {
    max-width: 40%;
}

.footer-left p {
    padding: 0 0 20px;
    padding-right: 15%;
    font-size: 1.3rem;

}

.footer-left img {
    max-width: 100%;
    display: block;
    padding-bottom: 5%;
}

.footer-right {
    display: flex;
    justify-content: space-between;
    width: 60%;
    padding-top: 2%;
    padding-left: 5%;
    padding-right: 5%;
}

.footer-column {
    display: flex;
    flex-direction: column;
}
.footer-column a h3{
    font-size: 1.2rem;
}

.footer-column a {
    text-decoration: none;
    color: #ffffff;
}

.footer-column a:hover h3 {
    text-decoration: underline;
}

.footer-column h3 {
    margin: 0 0 10px;
    font-size: 16px;
    font-weight: normal;
}

.footer-bottom {
    text-align: center;
    padding: 10px 0;
    border-top: 1px solid #333;
    margin-top: 20px;
}

.footer-bottom p {
    margin: 0;
    font-size: 14px;
}

@media (max-width: 351px) {
    header {
        flex-direction: column;
        padding: 0.625rem;
    }

    .logo {
        padding-left: 0;
        margin-bottom: 0.625rem;
        
    }

    .navbar {
        display: none;
        width: 100%;
        text-align: center;
        padding-left: 65%;
        padding-bottom: 5%;
        padding-top: 5%;
    }

    .navbar ul {
        flex-direction: column;
        align-items: center;
        padding-bottom: 10%;
    }

    .navbar li {
        width: 100%;
        margin: 0.5rem 0;
        padding-left: 20%;
        padding-top: 20%;
    }

    .header-right {
        display: none;
    }
    .select-language:before{
        margin-top: 19%;
        margin-right: .5rem;
    }

    /* Show navbar and header-right when toggle button is checked */
    .nav-toggle:checked ~ nav.navbar,
    .nav-toggle:checked ~ .header-right {
        display: flex;
    }

    /* Toggle button styles */
    .toggle-btn {
        display: block;
        font-size: 1.5rem;
        cursor: pointer;
        position: absolute;
        top: 0.625rem;
        right: 1rem;
    }

    /* Close button styles */
    .close-btn {
        display: block;
        font-size: 1.5rem;
        cursor: pointer;
        position: absolute;
        top: 0.625rem;
        right: 1rem;
    }
    .nav-toggle {
        display: none;
    }
    /* Adjust logo size */
    .logo img {
        width: 100%;
        
    }
    .contactsec h1{
        font-size: 1.4rem;
    }
    .line4{
        width: 70%;
        margin-left: 15%;
    }
    .form-section {
        background-color: #ecf0f1;
        color: #000000;
        padding: 20px;
    }
    .contact-info {
        margin-bottom: 20px;
    }
    
    .contact-info p {
        margin: 10px 0;
        padding-left: 5%;
        padding-right: 5%;
    }
    
    .contact-info i {
        margin-right: 10px;
    }
    
    .contact-info a {
        color: #000000;
        text-decoration: none;
    }
    
    .contact-info a:hover {
        text-decoration: underline;
    }
    .contact_content {
        max-width: 1200px;
        margin: 0 auto;
        display: block;
        justify-content: space-between;
    }
    .left{
        width: 100%;
        text-align: center;
    }
    .right{
        width: 100%;
        text-align: center;
        padding-top: 2%;
    }
    .left h2, .right h2 {
        color: #2c3e50;
        font-size: 20px;
        margin: 20px;
    }
    .career-btn{
        border: #000;
    }
    .social-icons a {
        text-decoration: none;
        font-size: 1.8rem;
        margin: 1rem;
        color: #000000;
    }
    .about-us {
        margin-top: 0%;
        height: 40vh;
    }
    .overlay h1 {
        text-align: center;
        padding-left: 18%;
        font-size: 2em;
    }
    .footer-container {
        display: block;
    }
    
    .footer-left {
        max-width: 100%;
    }
    
    .footer-left p {
        padding: 0 0 20px;
        padding-right: 0%;
    }
    
    .footer-right {
        display: block;
        width: 100%;
        text-align: center;
        padding-top: 5%;
        padding-left: 0%;
        padding-right: 5%;
    }
    .footer-column a h3 {
        padding-top: 3%;
    }
}